node_modules/
package-lock.json

# env files
.env
# python venv
.venv/
# Python cache
__pycache__/
# Python bytecode
*.py[cod]
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

check*
